body {
background-color: burlywood;
}
h1 {
    text-align: center;
}
h2{
    border: medium dashed black;
    border-right-width: none;
    border-left-width: none;
    border-radius: 0%;
    text-align: center;
    font-size: 18px;
    color:rgba(15, 134, 128, 0.767);
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width: 50%;
    height:auto;
    
    
    
}

figcaption {
    text-align: center;
}
